.vs/
premake5.exe
bin/
bin-intermediate/
VulkanDemo.sln
*.vcxproj
*.filters
*.user
data/models/
data/shaders/glsl/
data/Roboto-Medium.ttf
data/font.fnt
data/README.md
data/Robot-Medium-license.txt
data/shaders/gpuCull/*.spv
data/shaders/gpuCluster/cluster.comp.spv
data/shaders/gpuCluster/scene.frag.spv
data/shaders/gpuCluster/scene.vert.spv
data/shaders/sponza/geometry.frag
data/shaders/sponza/geometry.vert
data/shaders/sponza/scene.frag.spv
data/shaders/sponza/scene.vert.spv
data/shaders/textureDDS/textureDDS.frag.spv
data/shaders/textureDDS/textureDDS.vert.spv
*.ktx
data/shaders/ArrayOfDescriptor/ArrayOfDescriptor.frag.spv
data/shaders/ArrayOfDescriptor/ArrayOfDescriptor.vert.spv
*.ini